<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.lanou.user.mapper.AdminMapper">

    <resultMap id="adminMap" type="com.lanou.user.domain.Admin">
        <id column="id" property="id"/>
        <result column="admin_code" property="admin_code"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="telephone" property="telephone"/>
        <result column="email" property="email"/>
        <result column="enrolldate" property="enrolldate"/>
    </resultMap>
    <resultMap id="adminAndRoleAndPrivilege" type="com.lanou.user.domain.Admin" extends="adminMap">

        <collection property="roleList" ofType="com.lanou.user.domain.Role">
            <id column="r_id" property="id"/>
            <result column="r_name" property="name"/>
            <collection property="privilegeList" ofType="com.lanou.user.domain.Privilege">
                <id column="p_id" property="id"/>
                <result column="p_name" property="name"/>
            </collection>
        </collection>
    </resultMap>

    
    <!--验证账号-->
    <select id="verifyAdmin"
            parameterType="com.lanou.user.domain.Admin"
            resultMap="adminAndRoleAndPrivilege">
        SELECT
        *
        FROM admin_info,ADMIN_ROLE,PRIVILEGE_INFO,ROLE_INFO,ROLE_PRIVILEGE

        WHERE admin_info.admin_code = #{admin_code}
        AND admin_info.password = #{password}

        AND ADMIN_ROLE.ADMIN_ID = admin_info.id
        AND ADMIN_ROLE.ROLE_ID = ROLE_INFO.R_ID
        AND ROLE_PRIVILEGE.ROLE_ID = ROLE_INFO.R_ID
        AND ROLE_PRIVILEGE.PRIVILEGE_ID = PRIVILEGE_INFO.p_ID;
    </select>


    <!--修改密码-->
    <update id="updatePwd" parameterType="com.lanou.user.domain.Admin">
        UPDATE admin_info SET password = #{password} WHERE id=#{id}
    </update>

    <!--修改信息-->
    <update id="updateAdmin" parameterType="com.lanou.user.domain.Admin">
        UPDATE admin_info SET name = #{name} , telephone = #{telephone} , email = #{email} WHERE id=#{id}
    </update>

    <!--查所有-->
    <select id="findAll" resultMap="adminAndRoleAndPrivilege">
        SELECT
        *
        FROM admin_info,ADMIN_ROLE,PRIVILEGE_INFO,ROLE_INFO,ROLE_PRIVILEGE

        WHERE
         ADMIN_ROLE.ADMIN_ID = admin_info.id
        AND ADMIN_ROLE.ROLE_ID = ROLE_INFO.R_ID
        AND ROLE_PRIVILEGE.ROLE_ID = ROLE_INFO.R_ID
        AND ROLE_PRIVILEGE.PRIVILEGE_ID = PRIVILEGE_INFO.p_ID;
    </select>

    <!--查询所有角色-->
    <resultMap id="roleMap" type="com.lanou.user.domain.Role">
        <id column="r_id" property="id"/>
        <result column="r_name" property="name"/>
        <collection property="privilegeList" ofType="com.lanou.user.domain.Privilege">
            <id column="p_id" property="id"/>
            <result column="p_name" property="name"/>
        </collection>
    </resultMap>
    <select id="findAllRole" resultMap="roleMap">
        SELECT * from role_info
    </select>

    <!--根据登录名查管理员-->
    <select id="findByAdminCode" parameterType="java.lang.String" resultMap="adminMap">
        SELECT * from admin_info WHERE admin_code = #{value}
    </select>
    <!--添加管理元-->
    <insert id="addAdmin" parameterType="com.lanou.user.domain.Admin">
        INSERT into admin_info(admin_code,name,password,telephone,email,enrolldate)
        VALUES (#{admin_code},#{name},#{password},#{telephone},#{email},#{enrolldate})
    </insert>
    <!--给管理员添加角色-->
    <insert id="addRoleForAdmin" parameterType="com.lanou.user.domain.Admin_Role">
        INSERT into admin_role (admin_id,role_id) VALUES (#{admin_id},#{role_id})
    </insert>
    <!--删除-->
    <delete id="deleteAdmin" parameterType="int">
        DELETE admin_info,admin_role FROM  admin_info LEFT JOIN admin_role
    ON admin_info.id = admin_role.admin_id WHERE admin_info.id = #{value}
    </delete>
    <!--重置密码-->
    <update id="resetPwd" parameterType="int">
        UPDATE admin_info SET password='12345' WHERE id = #{value}
    </update>

    <!--根据email查找用户-->
    <select id="findByEmail" parameterType="java.lang.String" resultMap="adminMap">
        SELECT * from admin_info WHERE email = #{value}
    </select>

    <!--初始化密码-->
    <update id="updateByEmail" parameterType="java.lang.String">
        UPDATE admin_info SET password='123456' WHERE email = #{value}
    </update>


</mapper>